<?xml version="1.0"?>
<!--
/**
 * Dependency Injection Configuration
 * 
 * Configures data provider for banner grid UI component.
 * 
 * @category  Vodacom
 * @package   Vodacom_SiteBanners
 * @version   3.0.1
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- V4.0.1: Bind data interfaces to concrete implementations -->
    <preference for="Vodacom\SiteBanners\Api\Data\BannerInterface" 
                type="Vodacom\SiteBanners\Model\Banner"/>
    
    <preference for="Vodacom\SiteBanners\Api\Data\BannerSearchResultsInterface" 
                type="Magento\Framework\Api\SearchResults"/>
    
    <!-- V4.0.2: Bind repository interface to implementation -->
    <preference for="Vodacom\SiteBanners\Api\BannerRepositoryInterface" 
                type="Vodacom\SiteBanners\Model\BannerRepository"/>
    
    <!-- Data Provider Type Configuration -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vodacom_sitebanners_banner_listing_data_source" xsi:type="string">Vodacom\SiteBanners\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <!-- Grid Collection (extends base collection with search result interface) -->
    <virtualType name="Vodacom\SiteBanners\Model\ResourceModel\Banner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vodacom_sitebanners_banner</argument>
            <argument name="resourceModel" xsi:type="string">Vodacom\SiteBanners\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>
    
</config>
